#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.App {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 50px;
  height: 50px;
  background-color: blueviolet;
  color: white;
  border-radius: 30px;
}

.leftdir {
  margin-left: 50px;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.updir {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
